// ----------------------------------------------------------------------------
// Sass declarations
// ----------------------------------------------------------------------------
$background-color:  white;

// ----------------------------------------------------------------------------
// Widget-mantra styles
// ----------------------------------------------------------------------------
.widget-ttc-king {
  background-color: $background-color;
  color: black;

  & h3 {
    margin-bottom: 40px;
  }

  .logo img {
    width: 35%;
    height: 14%;
    margin: auto;
  }
}
